<h1>Welcome to Coin Combination</h1>
<form action="/change">
  <div class="form-group">
    <label for="cents">Enter the amount of cents:</label>
    <input id="cents" name="cents" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Make change</button>
</form>
